In [2]:
from docx import Document
import pandas as pd
doc = Document('sop.docx')

OP_ROW = 1 
HEADER_ROW = 2 
FIRST_ROW = 3

In [3]:
tb = doc.tables[10]
print(len(doc.tables))
print(len(tb.rows),len(tb.columns))

75
16 28

In [ ]:
for i in range(0,len(tb.rows)):
    for j in range(0,len(tb.columns)):
        cell = tb.cell(i,j)
        print(i,j,cell.text)

## Single

In [ ]:
tb = doc.tables[8]

item1_op_num = tb.cell(OP_ROW,3).text
item1_ref = tb.cell(FRIST_ROW,0).text
item1_met = tb.cell(FRIST_ROW,2).text
item1_des = tb.cell(FRIST_ROW,9).text
item1_qty = tb.cell(FRIST_ROW,15).text

item2_op_num = tb.cell(OP_ROW,19).text
item2_ref = tb.cell(FRIST_ROW,16).text
item2_met = tb.cell(FRIST_ROW,18).text
item2_des = tb.cell(FRIST_ROW,21).text
item2_qty = tb.cell(FRIST_ROW,25).text
print(item1_op_num, item1_ref, item1_met, item1_des, item1_qty)
print(item2_op_num, item2_ref, item2_met, item2_des, item2_qty)

## Double

In [ ]:
tb = doc.tables[10]
item1_op_num = tb.cell(OP_ROW,3).text
item1_ref = tb.cell(FRIST_ROW,0).text.replace('\n', '')
item1_met = tb.cell(FRIST_ROW,2).text
item1_des = tb.cell(FRIST_ROW,9).text
item1_qty = tb.cell(FRIST_ROW,15).text

item2_op_num = tb.cell(OP_ROW,19).text
item2_ref = tb.cell(FRIST_ROW,16).text.replace('\n', '')
item2_met = tb.cell(FRIST_ROW,18).text
item2_des = tb.cell(FRIST_ROW,23).text
item2_qty = tb.cell(FRIST_ROW,27).text

print(item1_op_num, item1_ref, item1_met, item1_des, item1_qty)
print(item2_op_num, item2_ref, item2_met, item2_des, item2_qty)

### Find header columns for single

In [ ]:
tb = doc.tables[8]
for idx, _ in enumerate(tb.columns):
    cell = tb.cell(header_row, idx)
    print(idx, cell.text)

### Find header columns for double

In [ ]:
tb = doc.tables[8]
op_cols = []
ref_cols = []
item_cols = []
des_cols = []
qty_cols = []
for idx, _ in enumerate(tb.columns):
    if 'OP' in tb.cell(OP_ROW, idx).text:
        op_cols.append(idx)
    if 'Ref.' in tb.cell(HEADER_ROW, idx).text:
        ref_cols.append(idx)
    if 'Man.Item No.' in tb.cell(HEADER_ROW, idx).text:
        item_cols.append(idx)
    if 'Description' in tb.cell(HEADER_ROW, idx).text:
        des_cols.append(idx)
    if 'Qty.' in tb.cell(HEADER_ROW, idx).text:
        qty_cols.append(idx)
op_cols

### list 에서 left 첫번째 col, right 첫번째 col만 남기도록 하자

In [ ]:
left_ref_col = ref_cols[0]
left_item_col = item_cols[0]
left_des_col = des_cols[0]
left_qty_col = qty_cols[0]
left_header_cols = {'ref':ref_cols[0],'item':item_cols[0],'des':des_cols[0],'qty':qty_cols[0]}
print(left_header_cols['item'])

In [4]:
def getLeftHeaderCols(tb):
    op_cols = []
    ref_cols = []
    item_cols = []
    des_cols = []
    qty_cols = []
    for idx, _ in enumerate(tb.columns):
        if 'OP' in tb.cell(OP_ROW, idx).text:
            op_cols.append(idx)
        if 'Ref.' in tb.cell(HEADER_ROW, idx).text:
            ref_cols.append(idx)
        if 'Man.Item No.' in tb.cell(HEADER_ROW, idx).text:
            item_cols.append(idx)
        if 'Description' in tb.cell(HEADER_ROW, idx).text:
            des_cols.append(idx)
        if 'Qty.' in tb.cell(HEADER_ROW, idx).text:
            qty_cols.append(idx)
    if ref_cols:
        return {'ref':ref_cols[0],'item':item_cols[0],'des':des_cols[0],'qty':qty_cols[0]}

In [ ]:
left = getLeftHeaderCols(tb)
left['qty']

In [ ]:
right_header_cols = {'ref': int ,'item':int,'des':int,'qty':int}
right_header_cols['ref'] = ref_cols[2]
for col in item_cols:
    if col > right_ref_col:
        right_header_cols['item'] = col
        break
for col in des_cols:
    if col > right_ref_col:
        right_header_cols['des'] = col
        break
for col in qty_cols:
    if col > right_ref_col:
        right_header_cols['qty'] = col
        break

print(right_header_cols['ref'],right_header_cols['item'],right_header_cols['des'],right_header_cols['qty'])

In [23]:
def getRightHeaderCols(tb):
    op_cols = []
    ref_cols = []
    item_cols = []
    des_cols = []
    qty_cols = []
    for idx, _ in enumerate(tb.columns):
        if 'OP' in tb.cell(OP_ROW, idx).text:
            op_cols.append(idx)
        if 'Ref.' in tb.cell(HEADER_ROW, idx).text:
            ref_cols.append(idx)
        if 'Man.Item No.' in tb.cell(HEADER_ROW, idx).text:
            item_cols.append(idx)
        if 'Description' in tb.cell(HEADER_ROW, idx).text:
            des_cols.append(idx)
        if 'Qty.' in tb.cell(HEADER_ROW, idx).text:
            qty_cols.append(idx)
            
    right_header_cols = {'ref': int ,'item':int,'des':int,'qty':int}
    try:
        right_header_cols['ref'] = ref_cols[2]
        for col in item_cols:
            if col > right_header_cols['ref']:
                right_header_cols['item'] = col
                break
        for col in des_cols:
            if col > right_header_cols['ref']:
                right_header_cols['des'] = col
                break
        for col in qty_cols:
            if col > right_header_cols['ref']:
                right_header_cols['qty'] = col
                break
    except:
        pass
    return right_header_cols

In [24]:
right = getRightHeaderCols(tb)
right['qty']

27

### 같은 Single,Double 이라도 10, 15번 header table의 col이 달라진다.

In [ ]:
for idx, _ in enumerate(tb.columns):
    cell = tb.cell(header_row, idx)
    print(idx, cell.text)

In [ ]:
class Point: 
    def __init__(self, row, col):
        self.row = row
        self.col = col
        
    row: int = None
    col: int = None
        
class SOPDataPoints:    
    op : Point = None
    ref : Point = None    
    item_no : Point = None
    desciption : Point = None
    qty : Point = None   

# define first items
item = SOPDataPoints()

In [ ]:
def GetItemsList(tb, i):
    item_no = []
    try:
        if i < 6 : # left
            op = tb.cell(OP_ROW, 3).text
            ref = tb.cell(FIRST_ROW + i, left_ref_col).text
            item = tb.cell(FIRST_ROW + i, left_item_col).text
            des = tb.cell(FIRST_ROW  + i, left_des_col).text
            qty = tb.cell(FIRST_ROW + i, left_qrt_col).text

        else: # right
            op = tb.cell(OP_ROW, 19).text
            ref = tb.cell(FIRST_ROW, right_ref_col).text 
            item = tb.cell(FIRST_ROW + i - 6, right_item_col).text
            des = tb.cell(FIRST_ROW  + i - 6, right_des_col).text
            qty = tb.cell(FIRST_ROW + i - 6, right_qrt_col).text
        item_list = [op, ref, item, des, qty]
        return item_list
    except:
        pass

In [6]:
def GetLeftItemsList(table):
    item = []
    items = []
    headers = getLeftHeaderCols(tb)
    for i,cells in enumerate(table.rows) : # left
        op = tb.cell(OP_ROW, 3).text
        try:
            ref = tb.cell(FIRST_ROW + i, headers['ref']).text
            item = tb.cell(FIRST_ROW + i, headers['item']).text
            des = tb.cell(FIRST_ROW  + i, headers['des']).text
            qty = tb.cell(FIRST_ROW + i, headers['qty']).text
        except:
            continue
        if qty.isnumeric():
            item = [op, ref, item, des, qty]
            items.append(item)
    return items

In [ ]:
tb = doc.tables[10]    
items = GetLeftItemsList(tb)
for item in items:
    print(item[0],item[1],item[2],item[3],item[4])

In [7]:
def GetRightItemsList(table):
    item = []
    items = []
    headers = getRightHeaderCols(tb)
    for i,cells in enumerate(table.rows) : # left
        op = tb.cell(OP_ROW, 19).text
        try:
            ref = tb.cell(FIRST_ROW + i, headers['ref']).text.replace('\n','')
            item = tb.cell(FIRST_ROW + i, headers['item']).text
            des = tb.cell(FIRST_ROW  + i, headers['des']).text
            qty = tb.cell(FIRST_ROW + i, headers['qty']).text
        except:
            continue
        if qty.isnumeric():
            item = [op, ref, item, des, qty]
            items.append(item)
    return items

In [ ]:
tb = doc.tables[14]    
items = GetRightItemsList(tb)
for item in items:
    print(item[0],item[1],item[2],item[3],item[4])

In [25]:
df = pd.DataFrame(columns=['OperationStep','Ref.','Man.Item.No','Description','Qty'])
tb = doc.tables[70]

if tb:
    lefts = GetLeftItemsList(tb)
    rights = GetRightItemsList(tb)
    for left in lefts:
        df.loc[len(df)] = left;
    for right in rights:    
        df.loc[len(df)] = right; 
df

  OperationStep  Ref. Man.Item.No          Description Qty
0        OP0710         M56400022      DRIP_TRAY_200HP   1
1        OP0710         218680023   M5X12 POZI HD SEMS   4
2        OP0720         M66930018  SIDE PANEL 901MM LG   2
3        OP0720  1820   M66930020  TOP PANEL 1820 ASSY   1
4        OP0720  1220   M66920020  TOP PANEL 1220 ASSY   1
5        OP0720         218680023   M5X12 POZI HD SEMS  20

In [ ]:
df = pd.DataFrame(columns=['OperationStep','Ref.','Man.Item.No','Description','Qty'])
for tb in doc.tables:
if tb:
    lefts = GetLeftItemsList(tb)
    rights = GetRightItemsList(tb)
    for left in lefts:
        df.loc[len(df)] = left;
    for right in rights:    
        df.loc[len(df)] = right; 
df

In [27]:
df

    OperationStep  Ref. Man.Item.No                      Description Qty
0          OP0003         M61920054       PIPE ASSY - LOWER HEATSINK   1
1          OP0003         M61920052   PIPE ASSY - LWR STATOR COOLING   1
2          OP0003         M61920056        PPE ASSY - UPPER HEATSINK   1
3          OP0003         M61920058  PIPE ASSY - 3RD STATOR UPPER HS   1
4          OP0003         M56451036          SINGLE COOLING BLOK SWG   1
..            ...   ...         ...                              ...  ..
354        OP0720         M66930018              SIDE PANEL 901MM LG   2
355        OP0720  1820   M66930020              TOP PANEL 1820 ASSY   1
356        OP0720  1220   M66920020              TOP PANEL 1220 ASSY   1
357        OP0720         218680023               M5X12 POZI HD SEMS  20
358        OP0770         A20007139               LABEL - XCEDE LOGO   1

[359 rows x 5 columns]

In [28]:
f_name = 'sop_docx.csv'
df.to_csv(f_name,encoding='utf-8-sig', index=False, mode='w', header=True)